<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DPMPTSP MAYBRAT</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="images/logo-only.jpg">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="css/fontawesome.css" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="css/selectize.css" />

    <link rel="stylesheet" type="text/css" href="css/nice-select.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="css/style.min.css" />

</head>

<body>
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- Loader -->

    <!-- Navigation Bar-->
    <!-- Navigation Bar-->
    <header id="topnav" class="defaultscroll scroll-active">
        <!-- Tagline STart -->
        <div class="tagline">
            <div class="container">
                <div class="float-start">
                    <div class="phone">
                        <i class="mdi mdi-phone-classic"></i> +62 8387547XXX
                    </div>
                    <div class="email">
                        <a href="#">
                            <i class="mdi mdi-email"></i> maybratkab.go.id
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Tagline End -->

        <!-- Menu Start -->
        <div class="container">
            <!-- Logo container-->
            <div>
                <a href="index.html" class="logo">
                    <img src="images/logo-maybrat.png" alt="" class="logo-light" height="28" />
                    <img src="images/logo-maybrat-dark.png" alt="" class="logo-dark" height="28" />
                </a>
            </div>                 
           <!--end login button-->
            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
    
            <div id="navigation">
                <!-- Navigation Menu-->   
                <ul class="navigation-menu">
                    <li><a href="index.html">Beranda</a></li>
                    <li>
                        <a href="about.html">Profil</a>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void(0)">Layanan</a><span class="menu-arrow"></span>
                        <ul class="submenu">
                            <li class="has-submenu"><a href="javascript:void(0)"> Standar Pelayanan</a><span class="submenu-arrow"></span>
                                <ul class="submenu">
                                    <li><a href="job-list.html">Standar biaya pelayanan</a></li>
                                    <li><a href="job-grid.html">Persyaratan</a></li>
                                    <li><a href="job-grid.html">Standar waktu pelayanan</a></li>
                                    <li><a href="job-grid.html">Prosedur</a></li>
                                </ul>  
                            </li>
                            <li class="has-submenu"><a href="javascript:void(0)">Informasi Publik</a><span class="submenu-arrow"></span>
                                <ul class="submenu">
                                    <li><a href="candidates-listing.html">Permintaan informasi publik</a></li>
                                    <li><a href="candidates-profile.html">Formulir informasi dan layanan publik</a></li>
                                    <li><a href="create-resume.html">Formulir izin kesehatan</a></li>
                                </ul>  
                            </li>
                        </ul>
                    </li>
                    <li><a href="blog-grid.html">Artikel</a></li>
                    <li>
                        <a href="contact.html">Kontak</a>
                    </li>
                </ul><!--end navigation menu-->
            </div><!--end navigation-->
        </div><!--end container-->
        <!--end end-->
    </header><!--end header-->
    <!-- Navbar End -->
    
    <!-- Start home -->
    <section class="bg-half page-next-level" style="background-image: url(images/image-artikel-bg.jpg);">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Tentang Kami</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->
     <!-- ABOUT US START -->
     <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4">
                    <img src="images/about.jpg" class="img-fluid rounded shadow" alt="">
                </div>

                <div class="col-lg-7 col-md-8">
                    <div class="about-desc ms-lg-4">
                        <h4 class="text-dark"> Visi</h4>

                        <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae sed in maiores voluptatum eligendi officia magni rerum dolores eveniet, fuga cumque earum ut rem. Enim earum labore error veniam sapiente!</p>

                        <h4 class="text-dark"> Misi</h4>

                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi modi ipsa aspernatur, vero atque saepe quos suscipit minima, quisquam magnam distinctio voluptas eum, aliquid alias eius aut culpa porro. At!</p>

                        <h4 class="text-dark"> Moto</h4>

                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi modi ipsa aspernatur, vero atque saepe quos suscipit minima, quisquam magnam distinctio voluptas eum, aliquid alias eius aut culpa porro. At!</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT US END -->

    <!-- JOB DETAILS START -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-dark mb-3">Tugas</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="job-detail border rounded p-4">
                        <div class="job-detail-content">
                            <div class="job-detail-desc">
                                <p class="text-muted mb-2">1. Perumusan Kebijakan Teknis: Menyusun kebijakan teknis di bidang penanaman modal dan pelayanan perizinan satu pintu.</p>
                                <p class="text-muted mb-2">2. Pemberian Izin dan Non-Izin: Mengeluarkan izin dan non-izin yang menjadi kewenangan daerah sesuai dengan peraturan perundang-undangan.</p>
                                <p class="text-muted mb-2">3. Pengelolaan Data dan Informasi: Mengelola data dan informasi terkait penanaman modal dan pelayanan terpadu satu pintu.</p>
                                <p class="text-muted mb-2">4. Pengawasan dan Pengendalian: Melakukan pengawasan dan pengendalian terhadap pelaksanaan penanaman modal dan pelayanan perizinan.</p>
                                <p class="text-muted mb-2">5. Penyuluhan dan Bimbingan Teknis: Memberikan penyuluhan dan bimbingan teknis kepada masyarakat dan pelaku usaha mengenai prosedur dan persyaratan perizinan.</p>
                                <p class="text-muted mb-2">6. Pelaporan: Menyusun dan menyampaikan laporan pelaksanaan tugas kepada bupati atau wali kota.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="text-dark mt-4">Fungsi:</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="job-detail border rounded mt-2 p-4">
                                <div class="job-detail-desc">
                                    <p class="text-muted mb-2">1. Pelayanan Perizinan Terpadu: Menyediakan layanan perizinan yang terpadu dan terintegrasi untuk memudahkan masyarakat dan pelaku usaha dalam mengurus izin.</p>
                                    <p class="text-muted mb-2">2. Promosi dan Fasilitasi Investasi: Melakukan promosi dan fasilitasi investasi untuk menarik investasi ke daerah dan meningkatkan iklim investasi.</p>
                                    <p class="text-muted mb-2">3. Pembinaan dan Pengawasan: Melakukan pembinaan dan pengawasan terhadap pelaksanaan penanaman modal dan pemberian izin untuk memastikan kepatuhan terhadap peraturan yang berlaku.</p>
                                    <p class="text-muted mb-2">4. Pengembangan Sistem Informasi: Mengembangkan dan mengelola sistem informasi penanaman modal dan pelayanan terpadu satu pintu untuk meningkatkan efisiensi dan transparansi.</p>
                                    <p class="text-muted mb-2">5. Koordinasi dengan Instansi Terkait: Melakukan koordinasi dengan instansi terkait baik di tingkat pusat maupun daerah dalam rangka penyelenggaraan pelayanan perizinan dan penanaman modal.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="text-dark mt-4">Qualification :</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="job-detail border rounded mt-2 p-4">
                                <div class="job-detail-desc">
                                    <div class="job-details-desc-item">
                                        <div class="float-start me-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-2">Morbi mattis ullamcorper velit. Phasellus gravida semper nisi nullam vel sem.</p>
                                    </div>

                                    <div class="job-details-desc-item">
                                        <div class="float-start me-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-2">Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
                                    </div>

                                    <div class="job-details-desc-item">
                                        <div class="float-start me-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-2">Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                                    </div>

                                    <div class="job-details-desc-item">
                                        <div class="float-start me-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-2">Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis.</p>
                                    </div>

                                    <div class="job-details-desc-item">
                                        <div class="float-start me-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-2">Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu.</p>
                                    </div>

                                    <div class="job-details-desc-item">
                                        <div class="float-start me-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-2">Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis.</p>
                                    </div>

                                    <div class="job-details-desc-item">
                                        <div class="float-start me-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-2">Pellentesque auctor neque nec urna. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi.</p>
                                    </div>

                                    <div class="job-details-desc-item">
                                        <div class="float-start me-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-0">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="text-dark mt-4">Primary Responsibilities :</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="job-detail border rounded mt-2 p-4">
                                <div class="job-detail-desc">
                                    <div class="job-details-desc-item">
                                        <div class="float-start me-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-2">HTML, CSS & Scss</p>
                                    </div>

                                    <div class="job-details-desc-item">
                                        <div class="float-start me-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-2">Javascript</p>
                                    </div>

                                    <div class="job-details-desc-item">
                                        <div class="float-start me-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-2">PHP</p>
                                    </div>

                                    <div class="job-details-desc-item">
                                        <div class="float-start me-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-2">Photoshop</p>
                                    </div>

                                    <div class="job-details-desc-item">
                                        <div class="float-start me-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-0">Illustrator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-5 mt-4 mt-sm-0">
                    <div class="job-detail border rounded p-4">
                        <h5 class="text-muted text-center pb-2"><i class="mdi mdi-map-marker me-2"></i>Lokasi</h5>

                        <div class="job-detail-location pt-4 border-top">
                            <div class="job-details-desc-item">
                                <div class="float-start me-2">
                                    <i class="mdi mdi-bank text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: MPP Kabupaten Maybrat</p>
                            </div>

                            <div class="job-details-desc-item">
                                <div class="float-start me-2">
                                    <i class="mdi mdi-email text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: maybratkab@gmail.com</p>
                            </div>

                            <div class="job-details-desc-item">
                                <div class="float-start me-2">
                                    <i class="mdi mdi-web text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: https://maybratkab.go.id/profil-maybrat/</p>
                            </div>

                            <div class="job-details-desc-item">
                                <div class="float-start me-2">
                                    <i class="mdi mdi-cellphone-iphone text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: 1234 567 89</p>
                            </div>

                            <div class="job-details-desc-item">
                                <div class="float-start me-2">
                                    <i class="mdi mdi-clock-outline text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: 4 minutes ago</p>
                            </div>

                            <h6 class="text-dark f-17 mt-3 mb-0">Link :</h6>
                            <ul class="social-icon list-inline mt-3 mb-0">
                                <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-google-plus"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="job-detail border rounded mt-4 p-4">
                        <h5 class="text-muted text-center pb-2"><i class="mdi mdi-clock-outline me-2"></i>Jam Operasional</h5>

                        <div class="job-detail-time border-top pt-4">
                            <ul class="list-inline mb-0">
                                <li class="clearfix text-muted border-bottom pb-3">
                                    <div class="float-start">Senin</div>
                                    <div class="float-end">
                                        <h5 class="f-13 mb-0">9AM - 7PM</h5>
                                    </div>
                                </li>

                                <li class="clearfix text-muted border-bottom pb-3">
                                    <div class="float-start">Selasa</div>
                                    <div class="float-end">
                                        <h5 class="f-13 mb-0">9AM - 7PM</h5>
                                    </div>
                                </li>

                                <li class="clearfix text-muted border-bottom pb-3">
                                    <div class="float-start">Rabu</div>
                                    <div class="float-end">
                                        <h5 class="f-13 mb-0">9AM - 7PM</h5>
                                    </div>
                                </li>

                                <li class="clearfix text-muted border-bottom pb-3">
                                    <div class="float-start">Kamis</div>
                                    <div class="float-end">
                                        <h5 class="f-13 mb-0">9AM - 7PM</h5>
                                    </div>
                                </li>

                                <li class="clearfix text-muted border-bottom pb-3">
                                    <div class="float-start">Jum'at</div>
                                    <div class="float-end">
                                        <h5 class="f-13 mb-0">9AM - 7PM</h5>
                                    </div>
                                </li>

                                <li class="clearfix text-muted border-bottom pb-3">
                                    <div class="float-start">Sabtu</div>
                                    <div class="float-end">
                                        <h5 class="f-13 mb-0">6:30AM - 1PM</h5>
                                    </div>
                                </li>

                                <li class="clearfix text-muted pb-0">
                                    <div class="float-start">Minggu</div>
                                    <div class="float-end">
                                        <h5 class="f-13 mb-0">Closed</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- JOB DETAILS END -->
    
    <!-- COMPANY TESTIMONIAL START -->
    <section class="section bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <h4 class="text-dark font-weight-">Publikasi</h4>
                    <p class="text-muted f-14">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ipsa corporis sequi mollitia quas voluptas, nobis sunt, expedita dolores aliquam vero nesciunt quis consequatur alias. Obcaecati fugiat eius sint omnis?</p>
                    <div class="job-details-desc-item">
                        <div class="float-start me-3">
                            <i class="mdi mdi-minus text-muted f-16"></i>
                        </div>
                        <p class="text-muted f-14 mb-1">Aenean leo ligula porttitor eu consequat eleifend enim.</p>
                    </div>
                    <div class="job-details-desc-item">
                        <div class="float-start me-3">
                            <i class="mdi mdi-minus text-muted f-16"></i>
                        </div>
                        <p class="text-muted f-14 mb-1">Quisque rutrum Aenean imperdiet nisi vel augue.</p>
                    </div>
                    <div class="job-details-desc-item mb-4">
                        <div class="float-start me-3">
                            <i class="mdi mdi-minus text-muted f-16"></i>
                        </div>
                        <p class="text-muted f-14 mb-1">Maecenas tempus tellus sem semper libero.</p>
                    </div>
                    

                    <ul class="list-inline pt-4 border-top mb-4">
                        <li class="list-inline-item float-end mt-2">
                            <ul class="list-inline bolg-post-icon mb-0">
                                <li class="list-inline-item f-20"><a href="" class=""><i class="mdi mdi-facebook"></i></a></li>
                                <li class="list-inline-item f-20"><a href="" class=""><i class="mdi mdi-twitter"></i></a></li>
                                <li class="list-inline-item f-20"><a href="" class=""><i class="mdi mdi-whatsapp"></i></a></li>
                                <li class="list-inline-item f-20"><a href="" class=""><i class="mdi mdi-instagram"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-7">
                    <div class="blog-post-testi">
                        <div class="row align-items-center">
                            <div class="col-md-3 col-4">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link about-us active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                        <div class="blog-post-testi-img">
                                            <img src="images/blog/image-2.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                            <div class="blog-post-overlay">
                                                <div class="blog-post-testi-icon text-center">
                                                    <i class="mdi mdi-plus-circle-outline text-white h4"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <a class="nav-link about-us" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                        <div class="blog-post-testi-img">
                                            <img src="images/blog/image-3.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                            <div class="blog-post-overlay">
                                                <div class="blog-post-testi-icon text-center">
                                                    <i class="mdi mdi-plus-circle-outline text-white h4"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <a class="nav-link about-us" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                        <div class="blog-post-testi-img">
                                            <img src="images/blog/image-4.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                            <div class="blog-post-overlay">
                                                <div class="blog-post-testi-icon text-center">
                                                    <i class="mdi mdi-plus-circle-outline text-white h4"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <a class="nav-link about-us" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                        <div class="blog-post-testi-img">
                                            <img src="images/blog/image-5.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                            <div class="blog-post-overlay">
                                                <div class="blog-post-testi-icon text-center">
                                                    <i class="mdi mdi-plus-circle-outline text-white h4"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-md-9 col-8">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                        <div>
                                            <img src="images/blog/image-3.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                        <div>
                                            <img src="images/blog/img-8.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                        <div>
                                            <img src="images/blog/img-9.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                        <div>
                                            <img src="images/blog/img-10.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- COMPANY TESTIMONIAL START -->

    <!-- ABOUT CLIENTS START -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title title-line pb-5">Instansi Terkait</h4>
                        <p class="text-muted para-desc mx-auto mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                    <img src="images/logo-maybrat-dark.png" height="50" alt="">
                </div><!--end col-->
                <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                    <img src="images/logo-maybrat-dark.png" height="50" alt="">
                </div><!--end col-->
                <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                    <img src="images/logo-maybrat-dark.png" height="50" alt="">
                </div><!--end col-->
                <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                    <img src="images/logo-maybrat-dark.png" height="50" alt="">
                </div><!--end col-->
                <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                    <img src="images/logo-maybrat-dark.png" height="50" alt="">
                </div><!--end col-->
                <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                    <img src="images/logo-maybrat-dark.png" height="50" alt="">
                </div><!--end col-->
            </div>
        </div>
    </section>
    <!-- ABOUT CLIENTS END -->

    <!-- footer start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a href="javascript:void(0)"><img src="images/logo-maybrat.png" height="28" alt=""></a>
                    <p class="mt-4">At vero eos et accusamus et iusto odio dignissim os ducimus qui blanditiis praesentium</p>
                    <ul class="social-icon social list-inline mb-0">
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-whatsapp"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-google"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">Menu</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="index.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> Beranda</a></li>
                        <li><a href="about.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> Profil</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Layanan</a></li>
                        <li><a href="blog-grid.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> Artikel</a></li>
                        <li><a href="contact.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> Kontak</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title f-17">Jadwal Layanan</p>
                    <ul class="list-unstyled text-foot mt-4 mb-0">
                        <li>Senin - Jum'at : 9:00 - 17:00</li>
                        <li class="mt-2">Sabtu : 10:00 - 15:00</li>
                        <li class="mt-2">Minggu : Libur </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <hr>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <p class="mb-0">© Copyright IM CREATIVE</p>
                    </div>
                </div>
            </div>
        </div><!--end container-->
    </footer><!--end footer-->
    <!-- Footer End -->

    <!-- Back to top -->
    <a href="#" class="back-to-top rounded text-center" id="back-to-top"> 
        <i class="mdi mdi-chevron-up d-block"> </i> 
    </a>
    <!-- Back to top -->

    <!-- javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/plugins.js"></script>

    <!-- selectize js -->
    <script src="js/selectize.min.js"></script>
    <script src="js/counter.int.js"></script>

    <script src="js/jquery.nice-select.min.js"></script>

    <script src="js/app.js"></script>

</body>
</html>